/* /*
coucou les copains !
voici tout ce que vous qvez besoin pour faire le CV !
Si vous avez des questions, n'hésitez pas à les poser à JB ou Rodolphe :D

règles générales:
- Si possible, le site est en disposition horizontal c'est à dire (scrollable à l'horizontal). C'est pas obligatoire. Faite en fonction du temps que vous avez.
- Il y a quelques hover. Un underline orange dans les titres dans la navbar, et un autre sur les icones.
- la navbar est fixe.

// COLOR

header: 423838
bckg: 292727
orange: F17027
orange titre: F3A42E
font princ: DED8D8
logo, fleche: 706B68
experience: F4CDA0

// FONTS

font-style: roboto, sanchez, sen. */
body{
    background-color:#292727 ;
    color:#DED8D8;
    
}
#logo{
    width:5em;
    margin-right:82px;
}
/* NAVBAR */
.navbar{
    background-color: #423838;
}
.navbar-nav{
    margin:auto;
}
.navbar-brand{
    color:#DED8D8;
}
.navbar-brand:hover{
    color:#DED8D8;
}
.button-nav{
    margin-right: 14em;
}
.nav-link{
    color:#DED8D8;
    font-family: 'Roboto', sans-serif !important;
    margin-right: 1em;
    margin-left: 1em;
    font-size:1.5em;
}
.nav-link:hover{
    color:#DED8D8;
}
nav>ul>li{
    list-style-type: none; 
}

.itemNav{
    padding-left: 1em;  
    padding-right: 1em;
    
    border-bottom:4px solid #423838;
}
.itemNav:hover{    
    border-bottom: 4px solid  #F17027;    
}
.fa-arrow-circle-down{
    color:#706B68;
    margin-left:1em;
    font-size: 2em;    
}
.fa-arrow-circle-down:hover{
    color:#F17027;
}
#telecharger{
    font-size: 1em;
}
/* FIN NAVBAR */


/* Carousel HOME */
.carousel-item{
        margin-top: 3.8em;
}

#photoEddy{
    width :12em;
    border-radius: 50%;
    padding-top:1.5em;
    margin-bottom: 2.5em;
    
}
#home > #bloc >h1{
    font-family: 'Sen', sans-serif !important;
}
#home > #bloc >h2{
    margin-bottom: 2em;
    color:#F3A42E;
    font-family: 'Sen', sans-serif !important;
}

#accroche{
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif !important;
}
.carousel-inner{
    color:white;
}
.indicator{
   margin-top:4em;    
}
#iconSocial{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.socialIcon,.portefolio{   
     
    color:#706B68;
    font-size: 4em;
    margin-right:0.5em;
    margin-left: 0.5em;
    margin-top: 0.5em;
}
.socialIcon:hover{
    color:#F17027;
}
.portefolio{
    width:5em;
}

    
/* Carousel hobbies */
#hobbies{
    background-image: url("../images/starry-sky.jpg");
}
#bloc{
    width:100%;
    height:43em;
    padding:2em;
    font-family: 'Roboto', sans-serif !important;   
}
#blocHobbies{
    height:38em;
    background-color:rgba(66, 56, 56, 0.7);
    border-radius: 7px;
    padding:1em;
    width:80%;
    font-family: 'Roboto', sans-serif !important;
}
#blocHobbies>h2{
    color: #F17027;
    font-size: 2.7em;
    font-family: 'Sanchez', serif !important;
}
#blocHobbies>h3{
    margin-top:2.5em;
    margin-bottom: 0.5em;
}

.progress-bar{
    background-color:#F3A42E;
}
/* Carousel compétences */

#competences{
    background-color: #F4CDA0;
    position:relative;
}
#competences>h2{
    margin:1em;
    color: #F17027;
    font-size: 2.7em; 
    font-family: 'Sanchez', serif !important;
}
#imgWebDesign{
    position: absolute;
    left: 5em;

}
#frontend, #backend{
    color:#423838;
    padding-top: 2em;
    font-family: 'Roboto', sans-serif !important;  
}
#listComp, #listLang{
   
    margin-bottom: 2em;    
    padding:2em;
}
#listComp{
    background-color: #FFF3E1;
    position: absolute;
    width:100%;
    top:2em;
    left:33em;
}
#listLang{
    background-color: #EFE6DF;
    position: absolute;
    width:100%;
    top:20em;
    left:20em;    
}
.iconLang{
    margin:1em;
}
.porfolioIc{
    position: absolute;
    top:20em;
    left:25em;
    width:10em;
}

/*Deuxième parti carousel experiences*/
#blocExperiences{    
    margin: auto;
    color: #292727;
    height:38em;
    background-color:#F4CDA0;
    border-radius: 7px;
    padding:1em;
    width:80%;
    text-align: center;
}
#blocExperiences>h2{    
    margin: auto;
    color: #292727;
    font-size: 4em;
    margin-bottom: 0.5em;
    font-family: 'Sanchez', serif !important;
}
#blocexperiences>h3{
    margin-top:3em;
    margin-bottom: 0.5em;
}
#blocexperiences>h4{
    margin-top:2.5em;
    margin-bottom: 0.5em;
    font-size: 4em;
}
.img-fluid{
    margin-bottom:1.5em;
}
.sanspuce{
    list-style-type: none;
}


/*quatrième Partie carousel time-line formation*/

.main-timeline{
    font-family: 'Sanchez', sans-serif !important;
    overflow: hidden;
    position: relative;
}
.main-timeline:before{
    content: "";
    width: 3px;
    height: 100%;
    background: #F17027;
    position: absolute;
    top: 0;
    left: 50%;
}
.main-timeline .timeline{
    padding-right: 30px;
    position: relative;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main-timeline .timeline:first-child:before,
.main-timeline .timeline:last-child:before{
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid#F17027;
    background:#F17027;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: -3px;
}
.main-timeline .timeline:last-child:before{
    top: auto;
    bottom: 0;
}
.main-timeline .timeline-icon{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #F17027;
    border: 2px solid #F17027;
    box-sizing: content-box;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -4px;
}
.main-timeline .timeline-icon:before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #F17027;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.main-timeline .year{
    display: inline-block;
    padding: 8px 20px;
    margin: 0;
    font-size: 14px;
    color:#F4CDA0;
    background: #F17027;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 35%;
    transform: translateY(-50%);
}
.main-timeline .year:before{
    content: "";
    border-right: 18px solid #F17027;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    position: absolute;
    top: 0;
    left: -18px;
}
.main-timeline .timeline-content{
    width: 46.5%;
    padding: 43px 50px;
    margin: 0 20px 0 0;
    background:#F4CDA0;
    position: relative;
}
.main-timeline .timeline-content:after{
    content: "";
    border-left: 20px solid #F4CDA0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}
.main-timeline .title{
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #504f54;
    margin: 0 20px 20px 0;
}
.main-timeline .post{
    display: inline-block;
    font-size: 14px;
    color: #999;
    margin-top: 6px;
}
.main-timeline .description{
    font-size: 14px;
    color: #7d7b7b;
    line-height: 24px;
    margin: 0;
    clear: both;
}
.main-timeline .timeline:nth-child(2n){ padding: 0 0 0 30px; }
.main-timeline .timeline:nth-child(2n) .year{
    right: auto;
    left: 35%;
}
.main-timeline .timeline:nth-child(2n) .year:before{
    border: 18px solid transparent;
    border-right: none;
    border-left: 18px solid#F17027;
    left: auto;
    right: -18px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content{
    float: right;
    margin: 0 0 0 20px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content:after{
    border-left: none;
    border-right: 20px solid #F4CDA0;
    right: auto;
    left: -20px;
}
@media only screen and (max-width: 1200px){
    .main-timeline .year{ right: 30%; }
    .main-timeline .timeline:nth-child(2n) .year{ left: 30%; }
}
@media only screen and (max-width: 990px){
    .main-timeline .year{ right: 25%; }
    .main-timeline .timeline:nth-child(2n) .year{ left: 25%; }
}
@media only screen and (max-width: 767px){
    .main-timeline:before{ left: 10px; }
    .main-timeline .timeline{
        padding: 0 0 0 30px;
        margin-bottom: 20px;
    }
    .main-timeline .timeline:last-child{ margin-bottom: 0; }
    .main-timeline .timeline:first-child:before,
    .main-timeline .timeline:last-child:before{ display: none; }
    .main-timeline .timeline-icon{
        margin: 0;
        position: absolute;
        top: 7px;
        left: 0;
    }
    .main-timeline .year,
    .main-timeline .timeline:nth-child(2n) .year{
        display: block;
        font-weight: bold;
        margin: 0 0 32px 30px;
        z-index: 1;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        transform: none;
    }
    .main-timeline .timeline:nth-child(2n) .year:before{
        border-left: none;
        border-right: 18px solid #F17027;
        right: auto;
        left: -18px;
    }
    .main-timeline .timeline-content{ padding: 20px; }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content{
        width: auto;
        float: none;
        margin: 0 0 0 30px;
    }
    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(2n) .timeline-content:after{
        border: none;
        border-bottom: 5px solid#F4CDA0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: -20px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

.navbar-nav{
    margin:0;
    padding:0;
}
.nav-item{
    margin:0;
    padding:0;
}
.nav-link{
    font-size:1.2em;
}
.navbar-collapse{
    margin:0;
    padding:0;
}
/* PARTIE HOME RESPONSIVE */
#home > #bloc{
    height: auto;
}
#accroche{
    font-size: 1.2em;
}
#iconSocial{
    flex-wrap:wrap;
}
.socialIcon{
    font-size: 3em;
}
.portefolio{
    width:3em;
}
#telecharger{
    margin-left: 1em;
    font-size: 1.2em;
}

/* PARTIE COMPETENCE RESPONSIVE */
#competences{
    background-color: #DED8D8;
    position:relative;
}
#competences>#bloc{
    height: 45em;
}
#competences>h2{
    color: #F17027;
    font-size: 2em; 
    margin-bottom: 1em;
    font-family: 'Sanchez', serif !important;
}
#imgWebDesign{
    position: absolute;
    left: 5em;

}
#frontend, #backend{
    color:#423838;
    margin-top: 1em;
    padding-top: 2em;
    position:absolute;
    top:2em;
}
#listComp, #listLang{
    background-color: #FFF;
    margin-bottom: 2em;    
    padding:1em;
}
#listComp{
    position: absolute;
    width:100%;
    top:2em;
    left:0em;
}
#listLang{
    position: absolute;
    width:100%;
    top:20em;
    left:0em;    
}
.iconLang{
    margin:1em;
}
.porfolioIc{
    position: absolute;
    top:38em;
    left:-7.5em;
    width:10em;
}

}

@media only screen and (max-width: 480px){
    .main-timeline .title{
        float: none;
        margin: 0;
    }
    .main-timeline .year,
    .main-timeline .timeline:nth-child(2n) .year{ margin-left: 5px; }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content{ margin-left: 5px; }
    .main-timeline .post{ margin: 1px 0; }
    .main-timeline .title{
        float: left;
        font-size: 10px;        
        color: #504f54;
        
    }
    .main-timeline .post{        
        font-size: 10px;
        color: #999;
        margin-top: 6px;
    }
    .main-timeline .description{
        font-size: 10px;
        color: #7d7b7b;
        margin: 0;
        
    }
    #blocExperiences>h2{    
        margin: auto;
        color: #292727;
        font-size: 3em;
        margin-bottom: 0.5em;
        font-family: 'Sanchez', serif !important;
    }
    #blocexperiences>h3{
        margin: auto;
        font-size: 1em;
        margin-bottom: 0.5em;
    }

}